In [1]:
# 본인의 이름, 학번을 작성하여 실행하세요.
print("김태진")
print("20221160")

김태진
20221160

## 이후 강의 PDF 예제 내용을 작성하여 실행하세요.

In [2]:
#예제 1
symbols = "$*&!@"
codes = []

for symbol in symbols:
    codes.append (ord (symbol) )

print(codes)

[36, 42, 38, 33, 64]

In [3]:
symbols = "$*&!@"
codes = [ord(symbol) for symbol in symbols]

print(codes)

[36, 42, 38, 33, 64]

In [4]:
x = '"!~$$*&!@'
dummy = [ord(x) for x in x]
print(x)
print(dummy)

"!~$$*&!@
[34, 33, 126, 36, 36, 42, 38, 33, 64]

In [5]:
symbols = '"!~$$*&!@'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 32]

print(beyond_ascii)

[34, 33, 126, 36, 36, 42, 38, 33, 64]

In [7]:
symbols = '"!~ $$*&!@'
beyond_ascii = list(filter(lambda c: c>64, map(ord, symbols) ) )

print(beyond_ascii, '\n')

print(f"Map function:\n>>> {map(ord, symbols)}")
print(f"List after map:\n>>> {list(map(ord, symbols))}")

[126]

Map function:
>>> <map object at 0x7e35776bf730>
List after map:
>>> [34, 33, 126, 32, 36, 36, 42, 38, 33, 64]

In [10]:
colors = ['black', 'white' ]
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]

print(tshirts)

for color in colors:
  for size in sizes:
    print((color, size))

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [11]:
symbols = "!#^&&#"
ord_s = tuple(ord(s) for s in symbols if ord(s))
print(ord_s)

(33, 35, 94, 38, 38, 35)

In [15]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in ('{} {}'.format(c, s) for s in sizes for c in colors):
  print(tshirt)

black S
white S
black M
white M
black L
white L

In [17]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855' ),
                ('BRA', 'CE342567' ),
                ('ESP', 'XDA205856' )]

for passport in sorted(traveler_ids):
  print('%s/%s' % passport)
  print('{}/{}'.format(passport[0], passport [1]) )
  print(f'{passport[0]}/{passport [1]}' )

BRA/CE342567
BRA/CE342567
BRA/CE342567
ESP/XDA205856
ESP/XDA205856
ESP/XDA205856
USA/31195855
USA/31195855
USA/31195855

In [19]:
for country, _ in traveler_ids:
  print(country)

USA
BRA
ESP

In [21]:
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
print(city, year, pop, chg, area)

Tokyo 2003 32450 0.66 8014

In [23]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
print(latitude)
print(longitude)

33.9425
-118.408056

In [24]:
a=10; b=20
b, a = a, b
print(a, b)

20 10

In [25]:
divmod(20, 8)

(2, 4)

In [26]:
t = (20, 8)
divmod(*t)

(2, 4)

In [27]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [29]:
import os

_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'dirsa.pub'

In [32]:
a, b, *rest = range(5)
a, b, rest

a, b, *rest = range(3)
a, b, rest

a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [34]:
a, *body, c, d = range(5)
a, body, c, d

*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [52]:
metro_areas = [
    ("Tokyo", "JP", 36.933, (35, 139)),
    ("Delhi NCR", "IN", 21, (28, 77)),
    ("Mexico City", "MX", 20, (19, -99)),
    ("New York-Newark", "US", 20, (40, -74)),
    ("Sao Paulo", "BR", 19, (-23, -46))
]

print("{:15} | {:^9} | {:^9}". format('', 'lat.','long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (lat, long) in metro_areas:
  if long <= 0:
    print(fmt.format(name, lat,long))

                |   lat.    |   long.
Mexico City     |   19.0000 |  -99.0000
New York-Newark |   40.0000 |  -74.0000
Sao Paulo       |  -23.0000 |  -46.0000

In [51]:
from typing_extensions import NamedTuple
from collections import namedtuple
City = namedtuple('City','name contry population coordinates')
tokyo = City('Tokyo', 'JP', 36.689, (35.689, 139.691))
tokyo

City(name='Tokyo', contry='JP', population=36.689, coordinates=(35.689, 139.691))

In [53]:
City._fields

('name', 'contry', 'population', 'coordinates')

In [55]:
LetLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LetLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

{'name': 'Delhi NCR',
 'contry': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [56]:
for key, value in delhi._asdict().items():
  print(key + ':', value)

name: Delhi NCR
contry: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

In [57]:
l = [10, 20, 30, 40, 50, 60]
print(l[:2])
print(l[2:])
print(l[:3])
print(l[3:])

[10, 20]
[30, 40, 50, 60]
[10, 20, 30]
[40, 50, 60]

In [81]:
invoice = """
0.....6.........................25.........33......40.......
1909  Pimoroni                       $17.50     3     $52.50
1489  6mm Tactile                    $4.95      2      $9.90
"""


SKU = slice(0, 6)
DESCRIPTION = slice(6, 25)
UNIT_PRICE = slice(25, 33)
QUANTITY = slice(33, 40)
ITEM_TOTAL = slice(40, None)

line_items = invoice.split('\n')[2:]

for item in line_items:
  print(item[UNIT_PRICE],item[DESCRIPTION])

         Pimoroni
         6mm Tactile

In [151]:
invoice = """
0.....6..................25........33......40.......
1909  Pimoroni              $17.50    3     $52.50
1489  6mm Tactile           $4.95     2      $9.90
"""


SKU = slice(0, 6)
DESCRIPTION = slice(6, 25)
UNIT_PRICE = slice(25, 33)
QUANTITY = slice(33, 40)
ITEM_TOTAL = slice(40, None)

line_items = invoice.split('\n')[2:]

for item in line_items:
  print(f"{item[UNIT_PRICE].strip()} {item[DESCRIPTION].strip()}")

$17.5 Pimoroni
$4.95 6mm Tactile

In [89]:
l = list(range(10))
print(l)
l[2:5] = [20, 30]
print(l)
del l[5:7]
print(l)
l[3::2] = [11, 22]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 8, 9]
[0, 1, 20, 11, 5, 22, 9]

In [86]:
l[2:5] = 100

TypeError: must assign iterable to extended slice

In [90]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

In [94]:
l = [1,2,3]
print(l * 5)
print(5*'abcd')

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
abcdabcdabcdabcdabcd

In [96]:
board = [['_'] * 3 for i in range(3)]
print(board)
board[1][2] = 'X'
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [98]:
weird_board = [['_']*3]*3
print(weird_board)

weird_board[1][2] = '0'
print(weird_board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

In [101]:
row = ['_'] * 3
board = []
for i in range(3):
  board.append (row)

board[1][2] = 'X'

board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [103]:
board = []
for i in range(3):
  row = ['_'] * 3
  board.append(row)

board[2][0] = 'X'
board

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

In [104]:
l = [1,2,3]
print(id(l))
l*=2
print(l)
print(id(l))

138768092195584
[1, 2, 3, 1, 2, 3]
138768092195584

In [106]:
t = (1,2,3)
print(id(t))
t*=2
print(id(t))

138768093275072
138768094362784

In [146]:
t = (1,2,[30,40])
print(t)

t[2] += [50,60]

(1, 2, [30, 40])

TypeError: 'tuple' object does not support item assignment

In [114]:
print(t)

(1, 2, [30, 40, 50, 60])

In [116]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
print(sorted(fruits))
print(fruits)
print(sorted(fruits, reverse=True))
print(sorted(fruits, key=len))

['apple', 'banana', 'grape', 'raspberry']
['grape', 'raspberry', 'apple', 'banana']
['raspberry', 'grape', 'banana', 'apple']
['grape', 'apple', 'banana', 'raspberry']

In [118]:
print(sorted(fruits, key=len, reverse=True))
print(fruits)
fruits.sort()
print(fruits)

['raspberry', 'banana', 'grape', 'apple']
['grape', 'raspberry', 'apple', 'banana']
['apple', 'banana', 'grape', 'raspberry']

In [120]:
from array import array
from random import random

floats = array('d', (random() for _ in range(10**7)))
print(floats[-1])

0.8124553742967462

In [122]:
with open('floats.bin', 'wb') as f:
  floats.tofile(f)
floats2 = array('d')
with open('floats.bin', 'rb') as f:
  floats2.fromfile(f, 10**7)

floats2[-1]

0.8124553742967462

In [124]:
floats == floats2

True

In [138]:
import array
numbers = array.array('h', [-2, -1, 0, 1, 2])
memv = memoryview(numbers)
len(memv)

[254, 255, 255, 255, 0, 0, 1, 0, 2, 0]
array('h', [-2, -1, 1024, 1, 2])

In [142]:
memv[0]

-2

In [144]:
memv_oct = memv.cast('B')
memv_oct.tolist()

[254, 255, 255, 255, 0, 4, 1, 0, 2, 0]

In [145]:
memv_oct[5] = 4
print(numbers)

array('h', [-2, -1, 1024, 1, 2])

In [128]:
data = bytearray(b'hello world')
mv = memoryview(data)
print(mv[0])
mv[0] = 72
print(data)

104
bytearray(b'Hello world')

In [129]:
import numpy
a = numpy.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [130]:
type(a)

numpy.ndarray

In [131]:
a.shape

(12,)

In [132]:
a.shape = 3,4
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [133]:
a[2]

array([ 8,  9, 10, 11])

In [134]:
a[2, 1]

np.int64(9)

In [135]:
a[:,1]

array([1, 5, 9])

In [136]:
a.transpose()

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])